@using MVC5_StokTakip.Models.Entity
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<TBLURUNLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<table class="table table-bordered" id="tbl">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün Adı</th>
            <th>Markası</th>
            <th>Kategorisi</th>
            <th>Fiyatı</th>
            <th>Stok Adeti</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Kontrollü Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
                <td>@urun.URUNID</td>
                <td>@urun.URUNAD</td>
                <td>@urun.URUNMARKA</td>
                <td>@urun.TBLKATEGORILER.KATEGORIAD</td>
                @*<td>@urun.URUNKATEGORI</td>*@
                <td>@urun.URUNFIYAT</td>
                <td>@urun.URUNSTOKADET</td>
                <td><a class="btn btn-danger" href="/Urun/Delete/@urun.URUNID">Sil</a></td>
                <td><a class="btn btn-primary" href="/Urun/Update/@urun.URUNID">Güncelle</a></td>
                <td>@Html.ActionLink("Sil", "Delete", new { id = urun.URUNID }, new { @class = "btn btn-warning", onclick = "return confirm('Silme işlemini onaylıyor musunuz?')" })</td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action(("Index"), new { page }))
<a class="btn btn-warning" href="/Urun/Ekle">Yeni Ürün Ekle</a>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-html5-1.5.6/fh-3.1.4/datatables.min.js"></script>

<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
@*<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.foundation.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.material.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.semanticui.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.uikit.css" rel="stylesheet" />*@


<script>
    $('#tbl').DataTable();
</script>