@using MVC5_StokTakip.Models.Entity
@model List<TBLURUNLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ürün Adı</th>
        <th>Markası</th>
        <th>Kategorisi</th>
        <th>Fiyatı</th>
        <th>Stok Adeti</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var urun in Model)
        {
        <tr>
            <td>@urun.URUNID</td>
            <td>@urun.URUNAD</td>
            <td>@urun.URUNMARKA</td>
            <td>@urun.TBLKATEGORILER.KATEGORIAD</td>
            @*<td>@urun.URUNKATEGORI</td>*@
            <td>@urun.URUNFIYAT</td>
            <td>@urun.URUNSTOKADET</td>
            <td><a class="btn btn-danger" href="/Urun/Delete/@urun.URUNID">Sil</a></td>
            <td><a class="btn btn-primary" href="/Urun/Update/@urun.URUNID">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>

<a class="btn btn-warning" href="/Urun/Ekle">Yeni Ürün Ekle</a>


