@model MVC5_StokTakip.Models.Entity.TBLURUNLER

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@using (Html.BeginForm("UpdateMethod", "Urun", FormMethod.Post))
{
<div class="form-group" style="margin-top:15px;">
    <b>Ürün ID</b>
    @Html.TextBoxFor(m => m.URUNID, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.URUNAD)
    @Html.TextBoxFor(m => m.URUNAD, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.URUNMARKA)
    @Html.TextBoxFor(m => m.URUNMARKA, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.URUNKATEGORI)
    @*@Html.TextBoxFor(m => m.URUNKATEGORI, new { @class = "form-control" })*@
    @Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr,new { @class="form-control"})

    <br />
    @Html.LabelFor(m => m.URUNFIYAT)
    @Html.TextBoxFor(m => m.URUNFIYAT, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.URUNSTOKADET)
    @Html.TextBoxFor(m => m.URUNSTOKADET, new { @class = "form-control" })
    <br />
</div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}

