@using MVC5_StokTakip.Models.Entity
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<TBLMUSTERILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>Müşteri ID</th>
        <th>Müşteri Ad</th>
        <th>Müşteri Soyad</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Kontrollü Sil</th>
    </tr>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <td>@musteri.MUSTERIID</td>
                <td>@musteri.MUSTERIAD</td>
                <td>@musteri.MUSTERISOYAD</td>
                <td><a class="btn btn-danger" href="/Musteri/Delete/@musteri.MUSTERIID">Sil</a></td>
                <td><a class="btn btn-primary" href="/Musteri/Update/@musteri.MUSTERIID">Güncelle</a></td>
                <td>@Html.ActionLink("Sil", "Delete", new { id = musteri.MUSTERIID}, new { @class = "btn btn-warning", onclick = "return confirm('Silme işlemini onaylıyor musunuz?')" })</td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
<a class="btn btn-warning" href="/Musteri/Ekle">Yeni Müşteri Ekle</a>


